/*
body {
	background-image: url(../images/wolverine-wallpaper.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    color: white;
} */

.container {
	text-align: center;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}