body {
	background-image: url(../images/wolverine.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
	text-align: center;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
}

h3 {
	font-size: 15px;
}

header {
	font-size: 40px;
}

#timeLeft {
	font-size: 20px;
}